.git
.gitignore
node_modules
vendor
tests
builds
.env
.phpunit.result.cache
phpunit.xml
phpunit.xml.dist
docker-compose.*.yml
.DS_Store
*/.DS_Store
*.log
writable/cache/*
writable/logs/*
writable/session/*
writable/uploads/*
writable/debugbar/*
